<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> 

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%=error.msg%></li>
    <% }) %>
  </ul>
  <% } %>

<div id="form">
  <form id="loginForm" action="/account/login" method="post">
    <fieldset>
      <label for="email">
        Email
        <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>" />
      </label>
      <div>
        <label for="loginpassword">
          Password
          <input
            type="password"
            id="loginpassword"
            name="account_password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            required
          />
        </label>
        <p>
          *The password must be at least 12 characters and has at least 1
          uppercase character, 1 number and 1 special character.
        </p>
      </div>
      <button type="submit">LOGIN</button>
      <p>No account?<a href="/account/register"> Register</a></p>
    </fieldset>
  </form>
</div>
