<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alejandro Vinay" />
    <meta
      name="description"
      content="Web page for the 340 class project"
    />
    <!-- <meta property="og:title" content="Teapa's chamber of commerce web site" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://alevinmol.github.io/wdd230/images/letras-teapa.png"
    />
    <meta
      property="og:url"
      content="https://alevinmol.github.io/wdd230/chamber/index.html"
    /> -->
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/medium.css">
    <link rel="stylesheet" href="/css/large.css">
    <link
      href="https://fonts.googleapis.com/css2?family=KoHo&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/site/favicon-32x32.png" />    
</head>
